<form class="modal-content" (ngSubmit)="dialogRef.close(data)">
    <header>Configure Log</header>
    <label>Callsign</label>
    <input type="text" name="callsign" placeholder="Log Callsign" [(ngModel)]="data.callsign" />
    <label>Station Class</label>
    <input type="text" name="class" placeholder="Class" [(ngModel)]="data.class"/>
    <label>Station Section</label>
    <input type="text" name="section" placeholder="Section" [(ngModel)]="data.section"/>
    <p class="warn">This will set the configuration for <b>all</b> users in this log</p>
    <button [mat-dialog-close]="data" class="ok">Submit</button>
    <button [mat-dialog-close] class="cancel">Cancel</button>
</form>