<div class="bottom-panel">
    <div class="pill-group">
        <span class="pill social-links" (click)="this.openLogConfigMenu()">
        {{ this.LogConfig.callsign || 'SET CALL' }}
        </span>
        <span class="pill social-links" (click)="this.openLogConfigMenu()">
        {{ this.LogConfig.class || '??'}} {{ this.LogConfig.section || '??' }}
        </span>
    </div>
    <div class="center-text">
        LogPAQ 0.0.1 by KE8PAQ<br>
        <a href="https://github.com/bg849619/logpaq" target="_blank">github.com/bg849619/logpaq</a>
    </div>
    <div class="pill-group">
        <span class="pill social-links">
        {{ this.StationConfig.operator || 'SET OP'}}
        </span>
        <span class="pill social-links">
        {{ this.StationConfig.band || '??' }}
        </span>
        <span class="pill social-links">
        {{ this.StationConfig.mode || '??' }}
        </span>
    </div>
</div>