<div class="bottom-panel">
    <div class="pill-group">
        <span class="pill social-links">
        W8P
        </span>
        <span class="pill social-links">
        4A OH
        </span>
    </div>
    <div class="center-text">
        LogPAQ 0.0.1 by KE8PAQ<br>
        <a href="https://github.com/bg849619/logpaq" target="_blank">github.com/bg849619/logpaq</a>
    </div>
    <div class="pill-group">
        <span class="pill social-links">
        KE8PAQ
        </span>
        <span class="pill social-links">
        40M
        </span>
        <span class="pill social-links">
        PH
        </span>
    </div>
</div>