/* You can add global styles to this file, and also import other style files */
.modal-content {
    padding: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input {
    margin: 5px 0;
}

.modal-content > header {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 8px;
    margin: 5px 5px 5px 0;
    border: none;
    border-radius: 5px;
}

button.ok {
    background-color: #4CAF50; /* Green */
    color: white;
}

button.cancel {
    background-color: #f44336; /* Red */
    color: white;
}