<form>
    <div class="form-group">
        <input type="text" placeholder="Callsign" name="callsign" [(ngModel)]="this.callsign" (ngModelChange)="this.callsign = this.callsign.toUpperCase()"/>
        <input type="text" placeholder="Class" name="class" [(ngModel)]="this.class" (ngModelChange)="this.class = this.class.toUpperCase()" />
        <input type="text" placeholder="Section" name="section" [(ngModel)]="this.section" (ngModelChange)="this.section = this.section.toUpperCase()" />
        <input type="text" placeholder="RST Sent" />
        <input type="text" placeholder="RST Received" />
    </div>
</form>